

    
    <ul class="showcase text-white">
        <li>
          <div class="seatemty" ></div>
          <small>Available</small>
        </li>
        <li>
          <div class="seatemty selectedd green1"></div>
          <small>Selected</small>
        </li>
        <li>
          <div class="seatemty occupiedd blue1"></div>
          <small>Occupied</small>
        </li>
      </ul>
      <div class="size">
      <div class="containr">
       <div class="screennn"></div>

        <div class="row">
        <div class="seatemty occupiedd blue"></div>
        <div class="seatemty"></div>
        <div class="seatemty"></div>
        <div class="seatemty"></div>
        <div class=" seatemty occupiedd blue"></div>
        <div class="seatemty"></div>
        <div class="seatemty"></div>
        <div class="seatemty"></div>
        <div class="seatemty occupiedd blue"></div>
        <div class="seatemty"></div>
    </div>
    <div class="row">
        <div class="seatemty"></div>
        <div class="seatemty"></div>
        <div class="seatemty"></div>
        <div class="seatemty occupiedd blue"></div>
        <div class="seatemty"></div>
        <div class="seatemty"></div>
        <div class="seatemty"></div>
        <div class="seatemty occupiedd blue"></div>
        <div class="seatemty"></div>
        <div class="seatemty occupiedd blue"></div>
    </div>
    <div class="row">
        <div class="seatemty"></div>
        <div class="seatemty"></div>
        <div class="seatemty"></div>
        <div class="seatemty occupiedd blue"></div>
        <div class="seatemty"></div>
        <div class="seatemty occupiedd blue"></div>
        <div class="seatemty"></div>
        <div class="seatemty"></div>
        <div class="seatemty"></div>
        <div class="seatemty"></div>
    </div>
    <div class="row">
        <div class="seatemty"></div>
        <div class="seatemty"></div>
        <div class="seatemty occupiedd blue"></div>
        <div class="seatemty"></div>
        <div class="seatemty"></div>
        <div class="seatemty occupiedd blue"></div>
        <div class="seatemty"></div>
        <div class="seatemty"></div>
        <div class="seatemty"></div>
        <div class="seatemty"></div>
    </div>
    <div class="row">
        <div class="seatemty"></div>
        <div class="seatemty"></div>
        <div class="seatemty occupiedd blue"></div>
        <div class="seatemty"></div>
        <div class="seatemty"></div>
        <div class="seatemty"></div>
        <div class="seatemty occupiedd blue"></div>
        <div class="seatemty"></div>
        <div class="seatemty"></div>
        <div class="seatemty"></div>
    </div>
    <div class="row">
        <div class="seatemty"></div>
        <div class="seatemty"></div>
        <div class="seatemty"></div>
        <div class="seatemty"></div>
        <div class="seatemty"></div>
        <div class="seatemty"></div>
        <div class="seatemty"></div>
        <div class="seatemty"></div>
        <div class="seatemty occupiedd blue"></div>
        <div class="seatemty"></div>
    </div>
</div>
</div>